[access]
	inheritFrom = All-Projects
[project]
	description = OpenDaylight Monitoring as a Service
[access "refs/*"]
	owner = group ldap/gerrit-cardinal-committers
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
